.u-ml-small {
  margin-left: 2rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  min-height: 100vh; }

a {
  text-decoration: none;
  color: #fff; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

.navbar {
  width: 100%;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  position: relative;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .navbar__content {
    align-items: center;
    width: 80%;
    display: flex;
    justify-content: space-between; }
    .navbar__content #hero {
      padding: 0;
      font-size: 5rem;
      margin: 0; }

.navbar__link {
  padding: 1rem 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-weight: 700; }
  .navbar__link:hover {
    color: #333; }

.button {
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer; }
  .button:hover {
    color: #333;
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 2rem rgba(153, 153, 153, 0.5); }
  .button--pill {
    background-color: #5aa6c8;
    border: none;
    color: #fff;
    padding: 1.5rem 4rem;
    border-radius: 900px; }
  .button--square {
    color: #86b8d0;
    padding: 1rem;
    border: 1px solid rgba(153, 153, 153, 0.1);
    box-shadow: 0 1rem 1rem rgba(153, 153, 153, 0.1);
    height: fit-content;
    font-weight: 700;
    border-radius: 3px; }
    .button--square:hover {
      border: 1px solid rgba(51, 51, 51, 0.1);
      color: #008aca; }

.slideshow-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem; }
  .slideshow-container .mySlides {
    display: none;
    width: 100%; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5rem 2px 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active,
.dot:hover {
  background-color: #717171; }

.header {
  background-color: #5aa6c8;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__hero {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__hero-headings {
      height: 100%;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .header__hero-headings--primary {
        letter-spacing: 3px;
        line-height: 1.1;
        font-size: 6rem; }
        .header__hero-headings--primary span {
          display: block; }
      .header__hero-headings--secondary {
        margin-top: 1rem;
        font-size: 2.5rem; }
    .header__hero-img {
      height: 85%; }
      .header__hero-img img {
        height: 100%; }

.section-vr {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center; }
  .section-vr__content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 10rem 0;
    align-items: center;
    justify-content: space-between; }
    .section-vr__content__left {
      height: 80%; }
      .section-vr__content__left img {
        height: 90%; }
    .section-vr__content__right {
      position: relative;
      max-width: 40%;
      text-align: left;
      height: 40%; }
      .section-vr__content__right-heading {
        font-size: 3rem; }
      .section-vr__content__right-line {
        width: 30%;
        border-bottom: 3px solid #008aca;
        margin: 1rem 0 2rem 0.5rem; }
      .section-vr__content__right-text {
        font-size: 1.5rem;
        line-height: 1.3; }
      .section-vr__content__right-buttons {
        position: absolute;
        bottom: 1rem;
        display: flex;
        align-items: center; }

.section-mobile {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f8fd;
  margin-top: 10rem; }
  .section-mobile__content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    .section-mobile__content__left {
      position: relative;
      max-width: 40%;
      text-align: left;
      height: 40%; }
      .section-mobile__content__left-heading {
        font-size: 3rem; }
      .section-mobile__content__left-line {
        width: 30%;
        border-bottom: 3px solid #008aca;
        margin: 1rem 0 2rem 0.5rem; }
      .section-mobile__content__left-text {
        font-size: 1.5rem;
        line-height: 1.3; }
      .section-mobile__content__left-logos {
        position: absolute;
        bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly; }
        .section-mobile__content__left-logos a {
          display: block;
          height: 4.2rem;
          max-width: 20rem; }
      .section-mobile__content__left__right {
        height: auto; }
    .section-mobile__content img {
      height: 120%;
      transform: translateY(0%); }

.section-reviews {
  height: 100vh;
  background-color: #5aa6c8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .section-reviews__heading {
    color: #fff;
    font-size: 3rem; }
  .section-reviews-line {
    width: 125px;
    border-bottom: 3px solid #008aca;
    margin: 1rem 0 2rem 0.5rem; }
  .section-reviews__collection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .section-reviews__collection .review {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%; }
      .section-reviews__collection .review .review-card {
        text-align: center;
        width: 400px;
        background-color: #fff;
        border-radius: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem; }
        .section-reviews__collection .review .review-card__thingy-on-top {
          position: absolute;
          left: 50%;
          transform: translate(-50%, -185%);
          border: 1px solid rgba(153, 153, 153, 0.3);
          border-radius: 50%;
          height: 50px;
          width: 50px;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 4rem; }
        .section-reviews__collection .review .review-card__text {
          line-height: 1.7;
          margin-top: 2rem;
          font-size: 1.7rem;
          color: #333;
          margin-bottom: 1rem; }
        .section-reviews__collection .review .review-card__person {
          display: flex;
          align-items: center;
          width: 70%;
          justify-content: space-evenly; }
          .section-reviews__collection .review .review-card__person-img {
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center; }
            .section-reviews__collection .review .review-card__person-img img {
              width: 50px;
              height: 50px; }
          .section-reviews__collection .review .review-card__person-details {
            margin-left: 1rem;
            text-align: left; }
            .section-reviews__collection .review .review-card__person-details-name {
              color: rgba(0, 0, 0, 0.7);
              font-size: 1.5rem;
              font-weight: 900; }
            .section-reviews__collection .review .review-card__person-details-title {
              font-size: 1.5rem; }
