$color-black: #000;
$color-grey-light: #999;
$color-grey-medium: #555;
$color-grey-dark: #333;
$color-white: #fff;
$color-primary: #5aa6c8;
$color-primary-light: #86b8d0;
$color-primary-dark: #008aca;
$color-secondary: #f5f8fd;
