$color-black: #000;
$color-white: #fff;
$color-grey-dark: #333;
$color-grey-light: #777;
$color-blue-primary: #244ac2;
$color-blue-secondary: #061c2c;
$color-blue-tertiary: #1e7bae;
$color-blue-light: #93caf2;
