.button {
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  &:hover {
    color: $color-grey-dark;
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 2rem rgba($color: $color-grey-light, $alpha: 0.5);
  }
  &--pill {
    background-color: $color-primary;
    border: none;
    color: $color-white;
    padding: 1.5rem 4rem;
    border-radius: 900px;
  }

  &--square {
    color: $color-primary-light;
    padding: 1rem;
    border: 1px solid rgba($color: $color-grey-light, $alpha: 0.1);
    box-shadow: 0 1rem 1rem rgba($color: $color-grey-light, $alpha: 0.1);
    height: fit-content;
    font-weight: 700;
    border-radius: 3px;

    &:hover {
      border: 1px solid rgba($color: $color-grey-dark, $alpha: 0.1);
      color: $color-primary-dark;
    }
  }
}
