.main {
  background-color: $color-white;

  &__content {
    max-width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    color: $color-black;
    padding: 2rem;
    font-size: 2rem;

    section {
      margin: 6rem 0;
      &:first-child {
        margin-top: 1rem;
      }
    }
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row;

  &_text {
    max-width: 65%;
    line-height: 1.5;
    color: $color-grey-light;
  }

  &_logo {
    max-width: 30%;
    padding: 2rem;
  }

  @media (max-width: 400px) {
    flex-flow: column;
    &_text,
    &_logo {
      max-width: 100%;
      text-align: center;
    }
  }
}

.badge-collection {
  display: flex;
  flex-flow: row;
  width: 95%;
  justify-content: space-between;

  &__badge {
    min-height: 12rem;
    background-color: $color-blue-secondary;
    width: 100%;
    margin: 1rem;
    padding: 1.5rem;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 10px 10px rgba($color-black, 0.2);
      transform: scale(1.1);
      background-color: $color-blue-secondary;
    }

    &-icon {
      color: $color-blue-tertiary;
      font-size: 9rem;
      margin-top: -2.5rem;
    }
    &-text {
      color: $color-white;
      max-width: 60%;
    }
  }

  &:hover &__badge:not(:hover) {
    transform: scale(0.9);
  }

  @media (max-width: 400px) {
    flex-flow: column;
  }
}

.banner-collection {
  display: flex;
  flex-flow: row;
  width: 95%;
  justify-content: space-between;

  @media (max-width: 400px) {
    flex-flow: column;
  }

  &__banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;
    font-size: 1rem;
    color: $color-white;
    background-color: $color-blue-primary;
    padding: 0.5rem;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 10px 10px rgba($color-black, 0.2);
      transform: scale(1.1);
      background-color: $color-blue-secondary;
    }

    &-text {
      text-transform: uppercase;
      font-weight: 700;
      padding-left: 1rem;
    }

    &-icon {
      color: $color-blue-light;
      font-size: 2rem;
    }
  }
}
