*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato;
}

html {
  //defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: $color-white;
}
