.section-mobile {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $color-secondary;
  margin: 10rem 0;
  &__content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__left {
      position: relative;
      max-width: 40%;
      text-align: left;
      height: 40%;

      &-heading {
        font-size: 3rem;
      }

      &-line {
        width: 30%;
        border-bottom: 3px solid $color-primary-dark;
        margin: 1rem 0 2rem 0.5rem;
      }

      &-text {
        font-size: 1.5rem;
        line-height: 1.3;
      }

      &-logos {
        position: absolute;
        bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a {
          display: block;
          height: 4.2rem;
          max-width: 20rem;
        }
      }
      &__right {
        height: auto;
      }
    }
    img {
      height: 120%;
      transform: translateY(0%);
    }
  }
}
